/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Service Styles */
#services {
    text-align: center;
}

.service {
    display: inline-block;
}

.plan {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    margin: 20px;
}

.plan h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.plan ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.plan ul li {
    margin-bottom: 10px;
}

/* Contact Section Styles */
#contact {
    text-align: center;
    padding: 50px 0;
}

.contact-info {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    margin: auto;
}

.contact-info p {
    margin: 10px 0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

p a {
    color: #fff;
    text-decoration: none;
}